body {
  font-family:sans-serif;
}

img {
  width:200px;
  height:133.3px;
  display:inline;
  float:left;
}

h1.title {
  display:inline;
  margin-top:200px;
  color:orange;
  float:center;
  font-size:40px;
  font-family:verdana;
}

h1.bottom {
  color:orange;
  float:center;
  font-size:40px;
  margin-top:10px;
  font-family:verdana;
}

h4 {
  display:inline;
}

h4.header {
  font-weight: 75;
  font-family:verdana;
}

h4.center {
  margin-left:auto;
  margin-right:auto;
  font-family:verdana;
}

table {
  text-align:left;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  border-collapse: collapse;
  width:500px;
  height:50px;
}

p {
  font-weight:600;
  display:inline;
}

p.light {
  font-weight:300;
}

h2 {
  font-family: Verdana;
  font-size:25px;
}

ul {
  margin-top:-10px;
  font-family:Verdana;
  font-size:15px;
  font-weight:200;
}

ul li.pad { 
  padding: 2.5px 0px;
}

li.pad span {
  position: relative;
  right:-15px;
}

li.number {
  font-weight:600;
  font-size:20px;
  font-family:verdana;
  color:#707070;
  margin: 10px 0;
}

h6.step {
  font-size:15px;
  font-weight:300;
  color:grey;
  margin: 10px 0;
}

h2.dir {
  margin-top:-10px;
}

hr {
  width: 1100px;
  margin-left:0px;
  height: 1px;
  background-color: grey;
  border: none;
}

h3 {
  font-weight:600;
  margin-top:-10px;
  margin-bottom:5px;
}

h4.serve {
  font-weight:800;
  font-size:16px;
}

h5.serving {
  font-size:16px;
  margin-top:-2.5px;
  font-weight:100;
  font-family:verdana;
}

h4.c {
  font-weight:100;
  font-size:14px;
  font-family:verdana;
}

section {
  margin-left: auto;
  margin-right: auto;
  width:1000px;
}